@(form: Form[Application.Login])

<html>
    <head>
        <title>LiBiL</title>
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Libil</span></a>
        </header>

        <h2>I said only Admins</h2>
        <h4>try anubhav and password </h4>
        @helper.form(routes.Application.adminAuthenticate) {

            @if(flash.contains("error")) {
                <p class="error">
                    @flash.get("error")
                </p>
            }
            
            <p>
                <input type="text" name="email" placeholder="Username" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
            
        }

    </body>
</html>