@(user: User)

<!DOCTYPE html>

<html>
    <head>
        <title>Libil</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script>
            function updateCoin()
            {
                @Credit.findByUserId(user.userId).decCoin(50);
                x=document.getElementById("coin");  // Find the element
                x.innerHTML="Coins ::: "+@Credit.findByUserId(user.userId).getCoin();

            }
        </script>
    </head>

    <body>

        <header>
    	    <a href="@routes.Application.index" id="logo"><span>Zen</span>tasks</a>
    	    <dl id="user">
    	        <dt>User :: @request.username()</dt>
    	        <dd>
    	            <a href="@routes.Application.logout()">Logout</a>
    	        </dd>
                <dt id="coin">Coins :: @Credit.findByUserId(user.userId).getCoin()</dt>
    	    </dl>
    	</header>

            <script>
                function upateCoins()
                {
                    x=document.getElementById("coin");  // Find the element
                    x.innerHTML="Hello Bye";
                }
            </script>

        <button type="button" onclick="updateCoin()">Take Book, cost = 50 per hour</button>
            "Welcome!!"
    </body>
</html>
