@(form: Form[Application.Login])

<html>
    <head>
        <title>LiBiL</title>
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Libil</span></a>
        </header>

        @helper.form(routes.Application.authenticate) {
            
            <h1>Sign in</h1>

            <p class="error">
                @form("error_msg").value
            </p>

            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
                <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
            
        }
    
    </body>
</html>