@(users: List[User], taskForm: Form[User])

@import helper._

@main("Todo list") {
    
    <h1>@users.size() Users(s)</h1>
    
    <ul>
        @for(user <- users) {
            <li>
                @user.userId
                
                @form(routes.Application.deleteUser(user.userId)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new User</h2>
    
    @form(routes.Application.newUser()) {
        
        @inputText(taskForm("UserId")) 
        
        <input type="submit" value="Create">
        
    }
    
}